<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Movieflix</title>
</head>

<body>
    <div class="header">
        <h3>Enter some movies</h3>
    </div>
    <div class="container">
        <form action="/myForm" method="post">
            <textarea name="movieText" id="movieText" rows="5"></textarea><br />
            <input type="submit" value="Send">
        </form>
    </div>
</body>

</html>