<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <div class="header">
    <span class="subheader">Hi John,</span><br>
    <span class="subheader"> Welcome back!</span>
  </div>
  <div class="container">
    <form>
      <fieldset class="todo-list">
        <legend class="todo-list__title">My Movie List</legend>
        <%- result %>
      </fieldset>
    </form>
  </div>
  </div>

</body>
</html>